#default_navbar {
    width: 100%;
    color: white;
    padding: 10px;
    transform:translate3d(0px, 0px, 0px);
    height: 70x;
    z-index: 99999;
}
.brand{
    color: white;
}

#default_navbar a{
    color:rgb(66, 65, 65);
    text-align: center;
    line-height: 2;
    font-size: 20px;
    font-weight: 400;
    font-family: Georgia, serif;
}

.navbar{
    position: fixed ;
    width: 100% ;
    transition: transform 0.5s ease-in-out, background-color 0.4s ease-in-out;
}

.navbar-collapse{
    justify-content: center;
    flex-grow: 0;
}

.navbar-nav{
    display: flex;
    justify-content: space-around;
    width: 46%;
}

#default_navbar .nav-container{
    display: flex;
    justify-content: center;
    padding:0px;
    width:100%;
}

.navbar-light .navbar-toggler{
    border: 0px;
}


@media screen and (max-width: 990px){
    .brand{
        padding:10px;
        width:100%;
        display: flex;
        justify-content: space-between;
    }

    .navbar-collapse{
        background-color: black;
        padding-block:10px;
        flex-grow: 1;
    }
    
    #default_navbar a{
        color:white;
    }

    #default_navbar {
        padding: 0px;
        padding-top: 5px;
    }
}

@media screen and (min-width: 990px){
    .brand , .navbar-nav a{
        margin-inline: 15px;
    }
    .navbar-brand{
        transition: height 0.3s linear, font-size 0.3s linear;
    }
}